body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
table {
  border: none;
  text-align: center;
}
table th,
td {
  padding: 3px;
  border: none;
}
table th {
  border-bottom: 1px solid white;
}
table tr td {
  border-bottom: 1px solid white;
}
input {
  background-color: #426e7d;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
table tr input[type="text"] {
  width: 5rem;
  text-align: center;
}
table tfoot td {
  text-align: left;
}
